#services{
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
/* --- Services Title --- */
.services-title{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.services-title h6{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  font-size: 3.5rem;
  color: green;
}
.services-title h7{
    font-size: 30px;
    margin-bottom: 15px;
    color: blue;
    font-weight: 700;
    line-height: 55px;
}
.services-title p{
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* ----- Range of Business Activities ----- */
.business-container {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .icon{
    color: green;
  }
  .business-container h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-size: 40px;
    margin-bottom: 20px;
    color: blue;
    font-weight: 700;
    line-height: 55px;
    font-style: normal;
  }
  
  .business-container p {
    margin-top: 15px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }
  
  .business-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
  }
  
  .business-card .icon {
    font-size: 24px;
    margin-right: 15px;
    color: #007BFF;
  }
  
  .business-card h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  
/* --- Detailed Services Info --- */
.servicesInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 65px auto;
    gap: 50px;
}
.servicesAbout{
    flex: 1;
    width: 700px;
    margin: 0px 25px;
}
.servicesAbout h5{
    font-size: 26.5px;
    margin-bottom: 20px;
    color: blue;
}
.servicesAbout p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: black;
}
.servicesImage{
    flex: 1;
    margin: auto;
}
img{
    object-fit: cover;
    height: 40rem;
    width: 40rem;
    border-radius: 10px;
}
/* Why Choose Us Section */
.why-choose-us-container {
    padding: 50px 70px;
    background-color: #f7f7f7;
    text-align: center;
    max-width: 80%;
    margin: auto;
  }
  
  .section-title {
    font-size: 4.5rem;
    margin-bottom: 30px;
    color: blue;
    font-style: normal;
  }
  
  .reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
  }
  
  .reason-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .reason-card:hover {
    transform: translateY(-5px);
  }
  
  .icon-container {
    font-size: 4.5rem;
    color: blue;
    margin-bottom: 15px;
  }
  
  .reason-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #444;
  }
  
  .reason-description {
    font-size: 1.2rem;
    color: #666;
  }

  /* ---- Brand Names */
.brands-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.brand-title {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-style: normal;
}

.brand-description {
    font-size: 2.5rem;
    text-align: start;
    margin-bottom: 30px;
    color: #555;
}

.brand-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brand-item {
    width: 16.5%;
    margin: 10px 0;
    transition: transform 0.3s;
}

.brand-item img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    /* filter: grayscale(100%); */
    transition: filter 0.3s ease;
}

.brand-item:hover img {
    /* filter: grayscale(0%); */
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .brand-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .brand-item {
        width: 90%;
    }
}

/* --------------------------css for small screen--------------------------------------- */

@media screen and (max-width:600px) {
  /* --- Services Title --- */
  #services{
    gap: 10px;
  } 
   .services-title h6{
    font-size: 0.8rem;
    margin: auto;
    }
    .services-title h7{
      font-size: 1rem;
      margin: 0;
      padding: 0;
      gap: 0;
      margin-top: -10px;
      margin-bottom: -15px;
    }
    .services-title p{
      font-size: 1.1rem;
      line-height: 1.1rem;
      margin: auto;
    }
    .business-container p {
      margin-top: -5px;
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin-bottom: 20px;
    }
    /* ----- Range of Business Activities ----- */
    .business-container {
      font-size: 1rem;
      line-height: 1rem;
      /* border: 2px solid black; */
      margin: auto;
      gap: 0;
    }
    .business-container h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: auto;
      margin-left: -10px;
      text-align: start;
      /* border: 2px solid red; */

    }
    .business-container p {
      margin-top: 3px;
      font-size: 1rem;
      line-height: 1rem;
      margin-bottom: 15px;
      margin: auto;
      /* border: 2px solid red; */
      margin-left: -10px;
    }
    .icon {
       margin-left: -10px;
    }
    
    h3 {
       margin-left: -10px;
    }

    /* --- Detailed Services Info --- */
    .servicesInfo{
      gap: 0px;
      margin: auto;
      /* border: 2px solid black; */
    }
    .servicesAbout{
      margin: 0;
    }
    .servicesAbout h5{
      font-size: 10px;
      margin-bottom: 10px;
    }
   .servicesAbout p{
      font-size: 8px;
      line-height: 1;
      margin-bottom: 40px;
      color: black;
   }
  .servicesImage{
      width: 100px;
      margin: auto;

  }
  img{
      object-fit: cover;
      height: 10rem;
      width: 9.5rem;
      border-radius: 10px;
  }
  /* -----------Why Choose Us Section------------ */
  .why-choose-us-container {
     padding: 0px 0px;
     /* border: 2px solid black; */
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 0px;
  }
  
  .reasons-grid {
    gap: 30px;
    /* border: 2px solid red; */
  }
  
  .reason-card {
    padding: 5px 0px;
    gap: 0;
    max-width: 84%;
    /* border: 2px solid red; */
  }

  .icon-container {
    font-size: 2rem;
    margin-bottom: 5px;
    /* border: 2px solid green; */
  }
  
  .reason-title {
    font-size: 1.1rem;
    margin: auto;
  }
  
  .reason-description {
    font-size: 1rem;
    color: #666;
  }

  /* ---- Brand Names */
.brand-title {
  font-size: 1.8rem;
  text-align: start;
  margin: auto;
}

.brand-description {
  font-size: 1rem;
  margin: auto;
  padding-bottom: 5px;
}

.brand-logos {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}
.brand-item {
  margin: auto;
}

.brand-item img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

}



  
 