* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Roboto', sans-serif;
  }
  
  
  body {
    background: white;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
  
  html{
    font-size: 65%;
  }