#About{
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;

}
.aboutHeader h4{
  color: green;
  font-size: 40px;
  text-align: center;
  margin-top: 35px;
}
.contentInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 65px auto;
    gap: 50px;
}
.contentAbout{
    flex: 1;
    /* border: 2px solid red; */
}
.contentAbout h5{
    font-size: 30px;
    margin-bottom: 20px;
    color: blue;
}
.contentAbout p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: black;
}
.contentAbout button{
    padding: 10px 20px;
    font-size: max(1vw, 16px);
    font-weight: 500;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2; /* Ensure button is above everything */
    margin-top: 30px;
}
button:hover {
    background-color: green;
  }
.contentImage{
    flex: 1;
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
}
.contentImage img{
    object-fit: cover;
    width: 42rem;
    height: 42rem;
    border-radius: 10px;
}

/* --------------------------css for small screen--------------------------------------- */

@media screen and (max-width:600px) {
    #About{
        margin-top: -30px;
    }
    .aboutHeader h4{
        font-size: 17px;
    }
    .contentInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 20px auto;
        gap: 20px;
        /* border: 2px solid black; */
    }
    .contentAbout{
        /* border: 2px solid red; */
        padding: 10px;
    }
    .contentImage{
        /* border: 2px solid blue; */
        object-fit: cover;
        margin-left: 15px;
        /* margin: 0 auto 20px auto; */
        text-align: center;
    }
    .contentImage img{
        object-fit: cover;
        height: 17rem;
        width: 14rem;
        border-radius: 10px;
    }
    .contentAbout h5{
        font-size: 14px;
        line-height: 1;
    }
    .contentAbout p{
        font-size: 14px;
        line-height: 1;
        gap: 15px;
    }
    .contentAbout button{
        padding: 10px 20px;
        font-size: max(0.5vw, 10px);
        font-weight: 500;
        padding: 0.8vw 2vw;
        margin-top: 0px;
        width: 100%;
    }
}  