.navbar{
    /* height: 8rem; */
    width: 100vw;
    /* max-width: 95rem; */
    margin: 0 auto;
    padding: 1rem 15rem;
    /* padding: 5rem 2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* Ensures it's visible over content */ 
}
.logo{
    object-fit: cover;
    height: 8rem;
    width: 11rem;
}
.organizationName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 0.5rem;
}
h1{
    color: #008000;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 28px;
}
.underline{
    /* border: 1px solid red; */
    width: 100%;
    height: 3px;
    background-color: red;
    margin: 2px auto;
}
h2{
    color: #008000;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}
.navbarMenuListItem{
    display: flex;
    margin: auto;
    cursor: pointer;
    color: blue;
    font-size: 25px;
    font-weight: 700;
    list-style: none;
    gap: 30px;
}
.navbarMenuListItem li:hover{
    color: green;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid green;
}
.active{
    color: green;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid green;
}
.mobMenu-Icon{
    height: 10vh;
    width: 10vw;
}
.mobileMenu-Icon{
  height: 7vh;
  width: 7vw;
  cursor: pointer;
  display: none;
}
.closeMenu-Icon{
  height: 7vh;
  width: 7vw;
  cursor: pointer;
  display: none;
}
.navMenu{
    position: absolute;
    top: 0rem;
    right: 0.4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    display: block;
    font-size: 25px;
    font-weight: 700;
    min-width: 12rem;
    background-color: green;
    color: white;
    list-style: none;
    transition: transform 0.5s ease, right 0.5s ease;
} 

.listItem{
    cursor: pointer;
    color: blue;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(230, 230, 230);
}
.listItem:hover {
    color: green;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid green;
}
.navbar-icon {
    font-size: 20px;
    margin-right: 8px;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* --------------------------css for small screen--------------------------------------- */

@media screen and (max-width:600px) {
    .navbar{
      padding: 5px;
    }
    .logo{
        object-fit: cover;
        height: 6rem;
        width: 8rem;
    }
    .organizationName{
         display: none;
    }
    
    .mobileMenu-Icon{
     display: flex;
     margin-right: 20px;
     margin-top: 25px;
     margin-left: 2px;
   } 
   .navbar-menu{
    display: none;
   } 
   .navbar-icon {
    font-size: 13px;
    margin-right: 5px; 
    transition: color 0.3s ease, transform 0.3s ease;
   }
  .active{
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
    width: fit-content;
  }
}

 